# Android Studio
.gradle/
.idea/
*.iml

# Build
build/
*/build/

# Local configuration
local.properties

# APK
*.apk
*.aab

# Keystore
*.jks
*.keystore

# Google Services
google-services.json

# OS files
.DS_Store
Thumbs.db
